<div class="col-sm-1"></div>
<div class="col-sm-2 sidenav">
<h5>User's name:</h5>
<%= current_user.fullname %>
</div>


<div class="text-left">
<div class="col-sm-9">
<h3>Profile feed</h3>
<h4>Go ask some questions, you fetus! not working</h4>
<% if current_user.questions.count == 0 %>
<% else %>
    <% current_user.questions.each do |q| %>
<h4><a href="/questions/<%= q.id %>">Title: <%= q.title %></a></h4><p>
<% end %>
<% end %>
<hr>
<% if current_user.answers.count == 0 %>
<h3> Socialise, young one. </h3>
<% else %>
<h3> keyboard warrior 4Laifu </h3>
<% current_user.answers.each do |x| %>
    <%= x.answer %><p><a href="/questions/<%= x.question_id %>">Go to answer</a></p>
<%end%>
<%end%>
</div>

